<template>
  <q-page>
    <q-card v-if="cofeesByCurrentMember" style="min-height:80vh">
      <div class="flex row">
        <q-select
          class="col q-mx-sm"
          :options="Object.values(membersWithId)"
          v-model="currentMemberId"
          option-value="id"
          option-label="name"
          emit-value
          map-options
          label="Alege membru rotaract"
        >
        </q-select>
        <div class="flex flex-center q-ml-md">
          <q-btn color="secondary" @click="genereazaNou">genereaza partener</q-btn>
        </div>
      </div>
      <div v-if="Object.values(cofeesByCurrentMember).length !==0" class="flex flex-center text-h6">
        Perechi pentru cafea
      </div>
      <div class="flex flex-center text-h5" v-else>
        Nici o cafea generata
      </div>
      <div v-if="Object.values(cofeesByCurrentMember).length !==0">
        <div v-for="(cofee, index) in cofeesByCurrentMember" :key="index">
          <div v-if="cofee" class="flex row flex-center">
            <q-item
              @click="
                updateCofee({ id: index, updates: { check: !cofee.check } })
              "
              clickable
            >
              <q-checkbox class="no-pointer-events" :value="cofee.check" />
            </q-item>
            <div v-if="members[cofee.memberId1]">
              {{ members[cofee.memberId1].name }}
            </div>
            <div class="q-mx-md">-</div>
            <div v-if="members[cofee.memberId2]">
              {{ members[cofee.memberId2].name }}
            </div>
            <q-btn
              @click.stop="deleteCofee(index)"
              flat
              round
              dense
              color="red"
              icon="delete"
            />
          </div>
        </div>
      </div>
    </q-card>
  </q-page>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";

export default {
  mounted() {
    this.currentMemberId = Object.keys(this.members)[0];
  },
  methods: {
    ...mapActions("members", [
      "updateMember" //also supports payload `this.nameOfAction(amount)`
    ]),
    ...mapActions("cofees", [
      "addCofee", //also supports payload `this.nameOfAction(amount)`
      "updateCofee",
      "deleteCofee" //also supports payload `this.nameOfAction(amount)`
    ]),
    async pairExists(a, b) {
      let result = -1;
      console.log("pairs to check:" + a + "===" + b);
      if (a === b) {
        result = 1;
      }
      Object.values(this.cofees).forEach(cofee => {
        if (cofee.memberId1 === a && cofee.memberId2 === b) {
          console.log("set repeat 1");
          result = 1;
        }
      });
      return result;
    },
    ///functia se comporta total neprevazut - imi returneaza -1 cand ar trebi sa execuge return 1
    async getRandomCofeeNr() {
      const max = Object.values(this.members).length;
      let repeat = 1;
      let partenerId = null;
      let nr = 0;
      const listOfIds = Object.keys(this.members);
      while (repeat === 1) {
        nr++;
        const option = Math.floor(Math.random() * max);
        partenerId = listOfIds[option];
        repeat = await this.pairExists(this.currentMemberId, partenerId);
      }
      return partenerId;
    },
    async genereazaNou() {
      if (
        Object.values(this.cofeesByCurrentMember).length ===
        Object.values(this.members).length - 1
      ) {
        return;
      }
      let cofeeToSubmit = {
        check: false,
        memberId1: this.currentMemberId,
        memberId2: await this.getRandomCofeeNr()
      };
      this.addCofee(cofeeToSubmit);
    }
  },
  computed: {
    ...mapGetters("members", ["members", "membersWithId"]),
    ...mapState("cofees", ["cofees"]),
    cofeesByCurrentMember() {
      //cand ai cafelele si curent meber selectat fa o filtrare dupa current member - ia din nou fuctile
      if (this.cofees && this.currentMemberId) {
        let result = {};
        const cofees = this.cofees;
        const currentId = this.currentMemberId;
        Object.keys(this.cofees).forEach(function(key) {
          let cofee = cofees[key];
          if (cofee.memberId1 === currentId || cofee.memberId2 === currentId) {
            result[key] = cofee;
          }
        });
        return result;
      }
      return null;
    }
  },
  watch: {
    members: {
      deep: true,
      handler() {
        this.currentMemberId = Object.keys(this.members)[0];
      }
    }
  },
  data() {
    return {
      currentMemberId: null
    };
  }
};
</script>
