<template>
  <q-page padding>
    <q-card class="flex column" style="min-height:60vh">
      <div class="col">
        <div>
          <div class="flex row">
            <q-input
              label="nume membru nou"
              class="col q-mx-sm"
              v-model="memberName"
            ></q-input>
            <q-btn icon="add" @click="createNewMember">Adauga</q-btn>
          </div>
          <div class="text-h5 flex flex-center">Lista membri rotaract</div>
        </div>
        <div style="height:55vh" class="scroll-y">
          <div
          v-for="(item, index) in members"
          :key="index"
          class="flex row flex-center q-my-md"
        >
          <span>{{ item.name }}</span>
          <q-btn
            flat
            class="q-ml-sm"
            @click="promptToDelete(index)"
            icon="delete"
          ></q-btn>
        </div>
        </div>
      </div>
      <q-btn class="full-width col-1" color="secondary" icon="restore" @click="promptResetCofees">Reset all Cofees</q-btn>
    </q-card>
  </q-page>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";

export default {
  data() {
    return {
      memberName: ""
    };
  },
  methods: {
    ...mapActions("members", ["addMember", "deleteMember"]),
    ...mapActions("cofees", ["deleteAllCofees"]),
    createNewMember() {
      let newMember = {
        name: this.memberName
      };
      this.addMember(newMember);
      this.memberName = "";
    },
    promptResetCofees(id) {
      this.$q
        .dialog({
          title: "Confirm",
          message: "Esti sigur ca vrei sa stergi toate cafelele?",
          ok: {
            push: true
          },
          cancel: {
            color: "negative"
          },
          persistent: true
        })
        .onOk(() => {
          this.deleteAllCofees();
        });
    },
    promptToDelete(id) {
      this.$q
        .dialog({
          title: "Confirm",
          message: "Really delete?",
          ok: {
            push: true
          },
          cancel: {
            color: "negative"
          },
          persistent: true
        })
        .onOk(() => {
          this.deleteMember(id);
        });
    }
  },
  computed: {
    ...mapState("members", ["members"])
  }
};
</script>

<style>
.auth-tabs {
  max-width: 500px;
  margin: 0 auto;
}
</style>
