<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  methods: {
    // ...mapActions("settings", ["getSettings"]),
    ...mapActions("members", ["fbReadData"]),
    ...mapActions("cofees", ["fbReadDataCofees"])
  },
  mounted() {
    // this.getSettings();
    this.fbReadData();
    this.fbReadDataCofees();
    // this.handleAuthStateChange();
  }
};
</script>

<style>
.text-strikethrough {
  text-decoration: line-through;
}
</style>
